<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>캐릭터 명성 랭킹</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.character.server}">서버</th>
                <th th:text="#{label.character.fame}">명성</th>
                <th th:text="#{label.character.name}">이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="character : ${characters}">
                <td><a href="character.html" th:href="@{/characters/{chracterId}(chracterId=${character.id})}" th:text="${character.server}">캐릭터 서버</a></td>
                <td><a href="character.html" th:href="@{/characters/{chracterId}(chracterId=${character.id})}" th:text="${character.fame}">캐릭터 명성</a></td>
                <td><a href="character.html" th:href="@{/characters/{chracterId}(chracterId=${character.id})}" th:text="${character.name}">캐릭터명</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg" type="button"
                th:onclick="|location.href='@{/}'|">
            처음으로
        </button>
    </div>

</div>

<!-- /container -->

</body>
</html>